body, html {
    width: 100%;
    height: 100%;
    margin: 0px;
  }
section a {
    text-decoration: none;
    color: gray;
    opacity: 0.5;
    transition: 0.5s;
    font-size: 1.4rem;
    position:relative;
    font-family: "Suisseintl", arial, sans-serif, "Space";
    left: 30px;
    margin: 10px;
}

section a:active {
    color: #bf1f4f;
}

section a:hover {
    opacity: 1;
    transition: 0.5s;
}

header {
    background-color: #990032;
    height: 50px;
    text-align: center;
    color:white;
    position: relative;
    width:100%;
}

section {
    text-indent: 150px;
    border-bottom: 2px #cbcfd6 solid;
    margin: 0px;
    z-index: 3;
    position: relative;
    background-color: white;
    width: 100%;
    font-family: arial, sans-serif, "Space";
}


.companyName {
    color: #990032;
    font-family: arial, sans-serif, "Space";
    font-size: 30px;
}

.realPosition {
    color: #bf1f4f; 
    opacity: 1;
    border-bottom: 2px #990032 solid;
    padding-bottom: 2px;
}

.arrow {
    background-color: #990032;
    border:none;
    color:white;
    position: relative;
    top: -2px;
    font-size: 40px;
}

.arrow:hover {
    cursor: pointer;
}

.student {
    position: absolute;
    top: 12px;
    font-size: 20px;
    width: 19.79vw;
    text-align: center;
    left: 40%;
    z-index: 1;
    transition: transform 1s;
    transition: transform 1s;
}

.teacher {
    position: absolute;
    top: 12px;
    font-size: 1.1vw;
    width: 19.79vw;
    left: 20.3%;
    z-index: 1;
    transition: transform 1s;
    transition: transform 1s;
}

.lecturer {
    position: absolute;
    top: 12px;
    font-size: 1.1vw;
    width: 19.79vw;
    left: 59.8%;
    z-index: 1;
    transition: transform 1s;
    transition: transform 1s;
}

.left-border {
    position: absolute;
    width: 38.39vw;
    height: 50px;
    z-index: 2;
    background-color: #990032;
}

.right-border {
    position: absolute;
    width: 38.39vw;
    height: 50px;
    right: 0px;
    z-index: 2;
    background-color: #990032;
}

.content-1 {
    font-size: 20px;
    width: 87%;
    position: relative;
    text-align: center;
    padding-left: 13%;
    height: 22vw;
}

.p-1 {
    position: relative;
    left: 0vw;
    font-size: 1.1vw;
    color: #6a6b6d;
    text-align: left;
}

.header-1 {
    color:#b70037;
    font-size: 3vw;
    text-align: left;
    font-family: arial, sans-serif, "Space";
}

div a {
    color:white;
    font-size: 16px;
    font-family:'Times New Roman', Times, serif ;
    text-decoration: none;
}

.content-view {
    background-color: gray;
    color: white;
    top: 100px;
    left: 4px;
    width: 200px;
    text-align: left;
    display: none;
    padding: 4px;
    border-radius: 15px;
    position: absolute;
}


.menu {
    text-align: center;
    width: 94px;
    height: 22px;
    top: -4px;
    position: relative;
    left: -80px;
    background-color: #990032;
    color: white;
    border: none;
    cursor: pointer;
}
.menu:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24)
}

#menuTable {
    border: 2px #990032 solid;
    color:#990032;
    background-color: white;
    
}
.str {
    border: 1px white solid;
    transition: 0.5s;
    background-color: #990032;
    border-radius: 15px;
    padding-left: 8px;
}

.str:hover {
    opacity: 1;
    transition: 0.5s
}

.str:hover {
    transform: scale(0.95);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24)
}

.menuStr {
    opacity: 0.8;
    transition: 0.5s;
}

.menuStr:hover {
    opacity: 1;
    transition: 0.5s;
}

.img-1 {
    width: 60%;
    position: relative;
    right: -20%;
    top: -17vw;
}

.mini-border-1 {
    border-bottom: 2px #bf1f4f solid;
    position: relative;
    top: -21vw;
    width: 34%;
}

.content-2 {
    width: 74%;
    text-align: justify;
    font-size: 1.5vw;
    padding: 0 13% 0 13%;
    color: #bf1f4f;
}

.img-2 {
    width: 40%;
    padding: 0 0 0 30%;
}
.content-3 {
    width: 74%;
    text-align: justify;
    font-size: 1.5vw;
    padding: 0 13% 0 13%;
    color: black;
}

.attention {
    margin: 0 31% 0 31%;
    width: 38%;
    height: 15vw;
    border: 4px #cbcfd6;
    background-color: #990032;
    text-align: center;
    color: white;
    padding: 1vw;
    font-size: 1.5vw;
    position: relative;
    font-family: arial, sans-serif, "Space";
}

.mini-border-2 {
    border-bottom: 2px #cbcfd6 solid;
    position: relative;
    top: 3vw;
    width: 100%;
}

.header-2 {
    color:#b70037;
    font-size: 3vw;
    text-align: center;
    position: relative;
    font-family: arial, sans-serif, "Space";

}

.content-4 {
    width: 75%;
    height: 36vw;
    color: #6a6b6d;
    top: 5vw;
    position: relative;
    margin: 0 13% 0 13%;
    font-size: 1.2vw;
}

.place-1 {
    width: 25%;
    height: 50%;
    border: 1px #cbcfd6 solid;
    position: relative;
    display: inline-block;
    margin-left: -0.05vw;
    top: -0.05vw;
    text-indent: 1vw;
    font-family:'Times New Roman', Times, serif;
}
.place-2 {
    width: 25%;
    height: 50%;
    border: 1px #cbcfd6 solid;
    display: inline-block;
    position: relative;
    margin-left: -0.36vw;
    top: -0.05vw;
    text-indent: 1vw;
}
.place-3 {
    width: 25%;
    height: 50%;
    border: 1px #cbcfd6 solid;
    position: relative;
    display: inline-block;
    margin-left: -0.36vw;
    top: -0.05vw;
    text-indent: 1vw;
}
.place-4 {
    width: 37.24vw;
    height: 17.92vw;
    border: 1px #cbcfd6 solid;
    position: relative;
    display: inline-block;
    margin-left: 18.59vw;
    top: -0.1vw;
    text-indent: 1vw;
}
.place-5 {
    width: 18.44vw;
    height: 17.92vw;
    border: 1px #cbcfd6 solid;
    position: absolute;
    display: inline-block;
    margin-left: -0.05vw;
    top: 18vw;
    text-indent: 1vw;
}

.wins {
    font-size: 4vw;
    color: #bf1f4f;
    font-family: arial, sans-serif, "Space";
}

.wins-2 {
    line-height: 18;
}

.content-5 {
    width: 74%;
    height: 50%;
    position: relative;
    top: -0.1vw;
    margin: 7% 13% 0 13%;
    font-size: 1.5vw;
    text-align: justify;
}

.header-3 {
    color:#b70037;
    font-size: 3vw;
    text-align: center;
    position: relative;
    font-family: arial, sans-serif, "Space";
    padding-top: 3%;
}

.mini-border-3 {
    border-bottom: 2px #cbcfd6 solid;
    position: relative;
    top: 44vw;
    width: 75%;
    margin: 0 13% 0 13%;
}

.mini-border-4 {
    border-bottom: 2px #cbcfd6 solid;
    position: relative;
    top: 2vw;
    width: 74%;
    margin: 0 13% 0 13%;
}

.content-6 {
    width: 74%;
    height: 50%;
    position: relative;
    font-size: 1.5vw;
    top: -0.1vw;
    margin: 0% 13% 0 13%;
    text-align: justify;
}

.mini-border-ex {
    border-bottom: 2px #cbcfd6 solid;
    position: relative;
    top: 1vw;
    width: 74%;
    margin: 0 13% 0 13%;
}


footer {
    border-bottom: 2px #cbcfd6 solid;
    border-top: 2px #cbcfd6 solid;;
    position: relative;
    top: 2vw;
    width: 74%;
    margin: 0 13% 36% 13%;
    font-family: "Suisseintl", arial, sans-serif, "Space";
    color:#6a6b6d;
    text-align: center;
    padding: 2% 0 2% 0;
}

.link {
    text-decoration: none;
    color:#b70037;
    font-size: 1rem;
    position:relative;
    font-family: "Suisseintl", arial, sans-serif, "Space";
}


.frame-1 {
    margin: 3% 25% 3% 25%;
    height: 51.8%;
}

.h-map {
    font-family: "Suisseintl", arial, sans-serif, "Space";
    color:#b70037;
    text-align: center;
    margin-top: 2%;
    font-size: 2vw;
}

.number-1 {
    position: relative;
    text-align: left;
}
.number-2 {
    position: relative;
    text-align: left;
}

.site {
    top: 50%;
    position: absolute;
    bottom: 50%;
    left: 38%;
}



#average {
    width: 22vw;
    color: #b70037;
    top: -22.8vw;
    left: 39vw;
    position: relative;
    font-size: 1.5vw;
    font-family: "Suisseintl", arial, sans-serif, "Space";
    color: #b70037;
    text-align: center;
}

#minValue {
    width: 22vw;
    color: #b70037;
    top: -25.4vw;
    left: 11.84vw;
    position: relative;
    font-size: 1.5vw;
    font-family: "Suisseintl", arial, sans-serif, "Space";
    color: #b70037;
    text-align: center;
}

#maxValue {
    width: 22vw;
    color: #b70037;
    top: -27vw;
    left: 64.7vw;
    position: relative;
    font-size: 1.5vw;
    font-family: "Suisseintl", arial, sans-serif, "Space";
    color: #b70037;
    text-align: center;
    margin-bottom: -5vw;
}

#finance {
    margin: 5% 13% 20vw 13%;
    position: relative;
    border-collapse: collapse;
    top: -3vw;
}


td {
    background:white;
    color:#b70037;
    padding: 1.7vw 0.4vw 1.7vw 0.4vw;
    font-family: "Suisseintl", arial, sans-serif, "Space";
    font-size: 0.63vw;
    border-bottom: 1px #6a6b6d solid;
    border-top: 1px #6a6b6d solid;
}

.border {
    border-bottom: 1px gray solid;
    border-top:1px #6a6b6d solid;
    font-size: 1.5vw;
    position: relative;
    top:-19vw;
    width: 74%;
    margin-left: 13%;
    height: 4vw;
}
